{% extends "base.html" %}

{% block content %}

<div class="max-w-xl mx-auto mt-10">

    <h2 class="text-2xl font-bold mb-4">
        Edit Message
    </h2>

    <form method="POST" class="flex items-center gap-2 p-4 border-t">
    {% csrf_token %}

    <input
        type="text"
        name="content"
        placeholder="Type a message..."
        required
        class="flex-1 border rounded-xl px-4 py-3"
    >

    <button
        type="submit"
        class="bg-blue-600 text-white px-6 py-3 rounded-xl">
        Send
    </button>
</form>

</div>

{% endblock %}