<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Default title in here{% endblock %}</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
</head>
<body>

  <div class="min-h-screen flex flex-row bg-gray-100">
    <!-- Sidebar -->
    <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
      <!-- Header/Logo -->
      <div class="flex items-center justify-center h-20 shadow-md">
        <h1 class="text-3xl uppercase text-indigo-500">TIL</h1>
      </div>

      <!-- Navigation -->
      <ul class="flex flex-col py-4">
        <li>
          <a href="/" class="flex items-center h-12 px-4 text-gray-500 hover:text-gray-800 hover:translate-x-2 transition-transform duration-200">
            <span class="w-12 text-lg text-gray-400"><i class='bx bx-home'></i></span>
            <span class="text-sm font-medium">Home</span>
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
          <a href="{% url 'account_logout' %}" class="flex items-center h-12 px-4 text-gray-500 hover:text-gray-800 hover:translate-x-2 transition-transform duration-200">
            <span class="w-12 text-lg text-gray-400"><i class='bx bx-log-out'></i></span>
            <span class="text-sm font-medium">Logout</span>
          </a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'account_login' %}" class="flex items-center h-12 px-4 text-gray-500 hover:text-gray-800 hover:translate-x-2 transition-transform duration-200">
            <span class="w-12 text-lg text-gray-400"><i class='bx bx-log-in'></i></span>
            <span class="text-sm font-medium">Login</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

    <!-- Main Content -->
    <div class="p-16">
      {% block body %}
            {% block content %}{% endblock %}
      {% endblock %}
    </div>
  </div>

</body>
</html>
